*{
  justify-content: center;
  padding: 0;
  margin: 0;
}

html {
  font-family: Comic Sans MS, Comic Sans, cursive;
}

body {
  background-image: url('bg3.png');
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center; 
  background-attachment: fixed; 
}

.nav{
 width: 80%;
 border:hidden;
 background:#7FA1A6;
 display: flex;
 transform: translate(200px,100px);
 height: 140px;

}

.nav h1{
transform: translate(100px, 42px);
display: flex;
background:none;
font-size: 40px;
}


.nav img{
  display: flex;
  transform: translate(-570px, 0px);
  width: 200px;
  height: 150px;
}

.btn1 button{
  background-color: white;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transform: translate(700px, 200px);
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: bold;
  font-size: 32px;
  width: 200px;
}

.btn2 button{
  background-color: white;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transform: translate(700px, 240px);
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: bold;
  font-size: 32px;
  width: 200px;
}