*{
  justify-content: center;
  padding: 0;
  margin: 0;
}

html {
  font-family: Comic Sans MS, Comic Sans, cursive;
}

body {
  background-image: url('bg3.png');
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center; 
  background-attachment: fixed; 
}

.nav{
 width: 80%;
 height: 300px;
 border:hidden;
 background:#7FA1A6;
 position: sticky;
 display: flex;
 transform: translate(200px,80px);
 border-radius: 8px;
}

.box{
 width: 80%;
 height: 400px;
 border: none;
 background:#7FA1A6;
 position: sticky;
 display: flex;
 transform: translate(200px,100px);
 margin: 10px 0px;
 padding: 20px 0;
 border-radius: 8px;
}


.udash img{
  display: flex;
  transform: translate(-204px,38px);
  height: 200px;
  width: 260px;
}

.pfpname input{
  background: none;
  display: flex;
  text-box: none;
  transform: translate(180px, 230px);
  font-size: 25px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: bold;
  border: none;
  outline: none;
}

.info, .example {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  gap:30px;
}

.uadd, .num,.mails{
  transform: translate(-500px, -30px);
  font-size: 30px;
  opacity: 50%;
}

.passout{
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  font-size: 30px;
  transform: translate(500px, -30px);
  gap:30px;

}


.outie, .changie{
  text-decoration: none;
  color:black;
}


.fills input, .fill input, .fill2 input {
  background: none;
  display: flex;
  text-box: none;
  transform: translate(1255px, -320px);
  font-size: 30px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: bold;
  border: none;
  outline: none;
}

.rewind img{
  width:50px;
  height:50px;
  display: flex;
  transform: translate(50px, -930px);
}