*{
  justify-content: center;
  padding: 0;
  margin: 0;
}

html {
  font-family: Comic Sans MS, Comic Sans, cursive;
  zoom: 90%;
}

body {
  background-image: url('bg3.png');
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center; 
  background-attachment: fixed; 
}

.nav{
 width: 80%;
 border:hidden;
 background:#7FA1A6;
 display: flex;
 transform: translate(200px,40px);
 height: 140px;

}

.nav h1{
transform: translate(-180px, 42px);
display: flex;
background:none;
font-size: 40px;
}


.nav img{
  display: flex;
  transform: translate(-570px, 0px);
  width: 200px;
  height: 150px;
}

.username input, .useradd input, .usernum input{
  background-color: white;
  border-radius: 20px;
  height: 60px;
  width: 350px;
  display: flex;
  transform: translate(400px, 120px);
  font-size: 20px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  padding:0px 10px;
  margin: 20px 0px;
}

.usermail input, .userpass input, .userconfirm input{
  background-color: white;
  border-radius: 20px;
  height: 60px;
  width: 350px;
  display: flex;
  transform: translate(900px, -130px);
  font-size: 20px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  padding:0px 10px;
  margin: 20px 0px;
}

.sign button{
  display: flex;
  background-color: #1C81C9;
  border-radius: 8px;
  border: none;
  height: 50px;
  width: 200px;
  display: flex;
  transform: translate(1240px, 0px);
  font-size: 20px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: white;
  cursor: pointer;
  padding: 10px 10px;
}

.noline {
  text-decoration: none;
}

.bck img{
  display: flex;
  transform: translate(300px,-80px);
  width: 70px;
  height: 70px;
}

